canvas {
    display: block;
    position: absolute;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.background {
    z-index: 1;
}

.transparency {
    opacity: 0.8;
}

.canvas_coordinates,
.step_count {
    display: block;
    font-weight: bold;
    font-size: 19px;
    height: 30px;
    width: 150px;
}

.report {
    text-align: right;
    display: inline-block;
    color: #0000ff;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 750px;
    font-weight: bold;
}

button {
    background-color: #8b00ff;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    width: 150px;
    height: 25px;
}

#start_button,
#stop_button {
    background-color: #ff00ff;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.color_red {
    color: red; /* Красный цвет выделения */
}

body {
    background-color: #c0c0c0;
}

.layer1 {
    display: block;
    margin-bottom: 20px;
}

.layer1 input[type="number"] {
    width: 80px;
}

.layer1 p {
    margin: 0;
    margin-bottom: 7px;
    font-size: 17px;
}


.decor {
    text-decoration: underline;
    margin-bottom: 10px;

}

.top_panel {
    position: relative;
    left: 670px;
    width: 250px;
    height: 650px;
    margin-bottom: 20px;
}

.layer2 {
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}
