@use "sass:math";
@import "mixins";
@import "icons";

$fontFamily: "Arial";

$fontSize: 16;

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

@import "null-style";

.button {
    background: #8b00ff;
    border: none;
    font-size: math.div(14, 16) + em;
    color: white;
    display: block;
    width: 100%;
    padding: 5px 0px;
    border-radius: 10px;
    transition: background 0.3s ease 0s;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
    text-align: center;

    &:hover {
        background: #2d014e;
    }
}

.input {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    line-height: 1.5em;
    transition: all 0.3s ease 0s;
    max-width: 9em;
    padding: 0px 5px;

    &:focus {
        border: 1px solid rgba(0, 0, 255, 0.3);
    }
}

body {
    color: $mainColor;
    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    @media (max-width: $md1 + px) {
        max-width: 970px;
    }
    @media (max-width: $md2+px) {
        max-width: 750px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }
}

.page {
    display: flex;
    flex: 1 1 auto;
    @media (max-width: $md4+px) {
        flex-direction: column;
    }
}

.main {
    flex: 1 1 auto;
    position: relative;
    top: 0;
    left: 0;
    // .main__container
    &__container {
        padding: 20px;
        height: 100%;
        width: 100%;
        @media (max-width: $md4+px) {
            position: absolute;
            top: 0;
            left: 0;
            padding: 30px 10px 70px 10px;
            padding: 30px 10px 70px 10px;
        }
    }
}

.canvases {
    position: relative;
    top: 0.3em;
    height: 100%;
    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    }

    // .canvases__main
    &__main {
    }
    // .canvases__grid
    &__grid {
        z-index: 1;
        pointer-events: none;
        background: transparent;
    }
    // .canvases__data
    &__data {
        position: absolute;
        top: -1.3em;
        font-size: 0.9em;
        line-height: 1em;
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
    }
    // .canvases__coordinates
    &__coordinates {
        padding-right: 5px;

        text-align: right;
    }
    // .canvases__step-count
    &__step-count {
        padding-right: 10px;
    }
}

.sidebar {
    flex: 0 1 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: #e9e5e55b;
    line-height: 25px;

    @media (max-width: $md4+px) {
        flex: 0 1 150px;
        padding: 0;
        font-size: 0.8em;
    }

    // .sidebar__container
    &__container {
        display: grid;
        padding: 10px 0px 0px 20px;
        grid-template-areas: "config" "manual" "random" "buttons";
        @media (max-width: $md4+px) {
            line-height: 1em;
            grid-template: 1fr 1fr 1fr / auto auto auto;
            grid-gap: 5px;
            grid-template-areas:
                "random   manual   conig"
                "random   manual   ."
                "buttons  buttons  buttons";
            // ". buttons buttons buttons buttons buttons";
            padding: 10px 10px 0px 10px;
        }
    }

    // .sidebar__section
    &__section {
        padding: 5px 5px;
        text-align: center;
        @media (max-width: $md4+px) {
            padding: 0;
        }
    }

    // .sidebar__section-title
    &__section-title {
        text-decoration: underline;
        margin: 0px 0px 10px 0px;
    }

    // .sidebar__section-content
    &__section-content {
    }
    // .sidebar__coordinates
    &__coordinates {
        text-transform: uppercase;
    }
    // .sidebar__step-count
    &__step-count {
    }
    // .sidebar__checkbox
    &__checkbox {
        display: flex;
        align-items: center;
        line-height: 1.2em;
        input {
            margin: 0px 7px 0px 0px;
        }
    }

    // .sidebar__checkboxies
    &__checkboxies {
        grid-area: view;
        align-self: start;
    }
    // .sidebar__manual
    &__manual {
        grid-area: manual;
        @media (max-width: $md4+px) {
            justify-self: start;
        }
    }
    // .sidebar__random
    &__random {
        grid-area: random;
        @media (max-width: $md4+px) {
            justify-self: start;
        }
    }
    // .sidebar__buttons
    &__buttons {
        grid-area: buttons;
        align-self: end;
    }

    // .sidebar__section-buttons
    &__section-buttons {
        display: grid;
        grid-gap: 10px 0px;
        align-self: auto;
        grid-template-columns: 1fr;
        @media (max-width: $md4+px) {
            grid-gap: 5px;
            grid-template-columns: 1fr 1fr;
        }
    }

    // .sidebar__button
    &__button {
        @media (max-width: $md4+px) {
            flex: 0 1 50%;
        }
    }
}

.input-container {
    margin: 0px 0px 10px 0px;
    @media (max-width: $md4+px) {
        display: flex;
        align-items: center;
        margin: 0px 0px 2px 0px;
    }
    // .input-container__label
    &__label {
        text-align: center;
        margin: 0px 0px 5px 0px;
        @media (max-width: $md4+px) {
            text-align-last: left;
            flex: 0 1 80%;
            font-size: 0.95em;
            margin: 0px 0.5em 0px 0px;
        }
    }
    // .input-container__input
    &__input {
        padding: 0px 5px;
        margin: 0px 5px;
        @media (max-width: $md4+px) {
            flex: 0 1 auto;
            max-width: 60px;
        }
    }
}

._md4-hidden {
    @media (max-width: $md4+px) {
        display: none !important;
    }
}
._md3-hidden {
    @media (max-width: $md3+px) {
        display: none !important;
    }
}

@keyframes top-show {
    0% {
        top: -100%;
    }
    100% {
        top: 5px;
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.report {
    position: fixed;
    top: -100%;
    right: 0px;
    color: #ffffff;
    background: rgba($color: #000000, $alpha: 0.9);
    border-radius: 10px;
    padding: 10px 35px 10px 10px;
    margin: 0px 5px;
    z-index: 100;

    &._active {
        animation: top-show 0.3s ease 1 normal 0s forwards, opacity 0.7s ease 1 normal 6s forwards;
    }

    @media (max-width: $md4+px) {
        font-size: 0.8em;
        margin: 0px 5px 0px 40px;
    }

    // .report__text
    &__text {
    }
    // .report__cross
    &__cross {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 1.4em;
        &:hover {
            color: #e7b6b6;
        }
    }
}

._hidden {
    display: none !important;
}

.settings {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    color: #ffffff;
    background: rgb(0, 0, 0, 0.9);
    transition: all 0.3s ease 0s;

    &._active {
        top: 0;
    }
    // .settings__container
    &__container {
        margin: 0 auto;
        padding: 0px 20px;
        @media (min-width: $md3+px) {
            min-width: 750px;
        }
    }
    // .settings__title
    &__title {
        font-size: 1.5em;
        margin: 1em 0px 2em 0px;
        text-align: center;
    }
    // .settings__parametr
    &__parametr {
        margin: 0px 10px 0px 0px;
        font-size: 1.1em;
        @media (max-width: $md3+px) {
            margin-bottom: 0.6em;
        }
    }
    // .settings__input
    &__input {
        width: 100%;
        outline: none;
        max-width: none;
        @media (max-width: $md3+px) {
            margin: 0 0 10px 0;
        }

        @media (min-width: $md3+px) {
            &.button {
                width: 90%;
            }
        }
    }

    // .settings__section-content
    &__section-content {
        display: flex;
        @media (max-width: $md3+px) {
            flex-direction: column;
            align-items: start;
        }
    }
    // .settings__check-container
    &__check-container {
        margin: 0px 30px 0px 0px;
        @media (max-width: $md3+px) {
            margin: 0px 0px 5px 0px;
        }
    }
}

.settings-image {
    position: relative;
    justify-self: start;
    grid-gap: config;
    z-index: 1001;
    transition: all 0.3s ease 0s;
    font-size: 1.5em;
    margin: 0px 0px 0px -10px;
    @media (max-width: $md4+px) {
        font-size: 1.8em;
        margin: 0;
        padding: 0px 0px 0px 0px;
        justify-self: end;
        align-self: start;
    }
    &:hover {
        transform: rotate(90deg);
    }

    &._active {
        color: #ffffff;
    }
}

.row {
    display: flex;
    align-items: center;
    margin: 0px 0px 20px 0px;

    // .row_reverse
    &_reverse {
        flex-direction: row-reverse;
    }

    @media (max-width: $md3+px) {
        display: block;
        text-align: center;
        margin: 0px 0px 10px 0px;
        max-width: 250px;
    }
}

.column20 {
    position: relative;
    flex: 0 1 20%;
}

.column25 {
    position: relative;
    flex: 0 1 25%;
}
.column30 {
    position: relative;
    flex: 0 1 30%;
}
.column40 {
    position: relative;
    flex: 0 1 40%;
}
.column50 {
    position: relative;
    flex: 0 1 50%;
}
.column70 {
    position: relative;
    flex: 0 1 70%;
}
