@use "sass:math";
@import "mixins";

$fontFamily: "Arial";

$fontSize: 16;

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

@import "null-style";

body {
    color: $mainColor;
    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    @media (max-width: $md1 + px) {
        max-width: 970px;
    }
    @media (max-width: $md2+px) {
        max-width: 750px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }
}

.page {
    display: flex;
    flex: 1 1 auto;
    // height: auto;
}

.main {
    flex: 1 1 auto;

    // .main__container
    &__container {
        padding: 20px;
        height: 100%;
    }
}

.canvases {
    position: relative;
    height: 100%;
    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        // border: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    }

    // .canvases__main
    &__main {
        // background: gray;
    }
    // .canvases__grid
    &__grid {
        z-index: 1;
        pointer-events: none;
        background: transparent;
    }
}

.sidebar {
    flex: 0 1 200px;
    padding: 20px 0px 20px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: #e9e5e55b;
    line-height: 25px;
    // box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);

    & > * {
        margin: 0px 0px 20px 0px;
        &:last-child {
            margin: 0px 0px 0px 0px;
        }
    }

    // .sidebar__coordinates
    &__coordinates {
        text-transform: uppercase;
    }
    // .sidebar__step-count
    &__step-count {
    }
    // .sidebar__checkbox
    &__checkbox {
        display: flex;
        align-items: center;
        input {
            margin: 0px 7px 0px 0px;
        }
    }

    // .sidebar__section
    &__section {
        margin: 0px 0px 10px 0px;
        // box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        // border-radius: 10px;
        padding: 5px 5px;
        text-align: center;
    }
    // .sidebar__title
    &__title {
        text-decoration: underline;
        margin: 0px 0px 5px 0px;
    }
    // .sidebar__checkbox
    &__checkbox {
        input {
            margin: 0px 7px 0px 0px;
        }
    }

    // .sidebar__input
    &__input {
        input {
            // display: block;
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
            line-height: 1.5em;
            transition: all 0.3s ease 0s;
            // width: 100%;
            max-width: 9em;
            padding: 0px 5px;
            margin: 0px 5px;
            // max-width: 100px;

            &:focus {
                border: 1px solid rgba(0, 0, 255, 0.3);
            }
        }

        span {
            display: block;
        }
    }
    // .sidebar__buttons
    &__buttons {
    }
    // .sidebar__buttons-group
    &__buttons-group {
        &:not(:last-child) {
            // margin: 0px 0px 20px 0px;
        }
    }
}

.button {
    background: #8b00ff;
    border: none;
    font-size: 14px;
    color: white;
    display: block;
    margin: 0 auto;
    width: 150px;
    padding: 5px 0px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: background 0.3s ease 0s;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);

    &:hover {
        background: #2d014e;
    }
}

.report {
    position: absolute;
    top: -100%;
    color: #06812f;
    transition: top 0.3s ease 0s;

    &._active {
        top: 0%;
    }
}

._hidden {
    display: none !important;
}
